body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to right, blue, darkblue);
    width: auto;
    text-align: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
}

aside{
    border: 1px solid black;
    float: left;
    margin: 10px;
    padding: 20px;
}

#searchField{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(150, 146, 146);
    border-radius: 5px;
    padding: 5px;
}

#searchBtn{
    width: 100%;
    margin-top: 10px;
    background-color: rgb(27, 135, 165);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: ease 0.3s, background-color 0.3s;
}

#searchBtn:hover{
    background-color:  rgb(12, 68, 84);;
}

.currentWeather{
    font-family: arial;
    background-color: lightgray;
    display: flex;
    margin: auto;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    display: none;
}

label{
    font-weight: bold;
}


#previousSearchList{
    list-style-type: none;
    color: rgb(11, 97, 29);
    font-weight: bold;
    display: inline-block;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-evenly;
}

#topBox{
    width: 100%;
    border: 1px solid black;
    text-align: left;
    height: 100%;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-item{
    width: 300px;
    height: 250px;
    border: 1px solid blue;;
}