header{
    background-image: linear-gradient(to right, blue, darkblue);
    width: auto;
    text-align: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
}

.currentWeather{
    font-family: arial;
    background-color: lightgray;
    display: flex;
    margin: auto;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    display: none;
}

label{
    font-weight: bold;
}

#currentLocation{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 33px;
}

#previousSearchList{
    list-style-type: none;
    color: rgb(11, 97, 29);
    font-weight: bold;
    display: inline-block;
}